<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="menu">
      <h2>To-do!</h2>
      <ul class="nav nav-pills">
        <li class="active"><a href="/tasks">Home</a></li>
        <li><a href="/tasks">Todo List</a></li>
        <li><a href="/tasks">Completed</a></li>
      </ul>
    </div>
    <div class="home">
      <p>This is a simple to-do app</p>
    </div>
  </body>
</html>
