<!DOCTYPE html>
<html>
  <head>
    <title>To do list</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="menu">
      <h2>To-do!</h2>
      <ul class="nav nav-pills">
        <li><a href="/tasks">Home</a></li>
        <li class="active"><a href="/tasks">Todo List</a></li>
        <li><a href="/tasks">Completed</a></li>
      </ul>
    </div>
    <div id="item" class="input">
      <input id="text" class="text" type="text" name="todo">
    </div>
  </body>
  <script type="text/javascript" src="/taskList.js"></script>
</html>
