<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
  <script>
   let link = document.createElement('link')
   link.setAttribute('rel', 'stylesheet')
   link.setAttribute('href',  '/stylesheets/style.css')
   document.head.appendChild(link)
   </script>
    <div class="menu">
      <h2>To-do!</h2>
      <ul class="nav nav-pills">
        <li><a href="/tasks">Home</a></li>
        <li class="active"><a href="/tasks">Todo List</a></li>
        <li><a href="/tasks">Completed</a></li>
      </ul>
    </div>
    <div id="item" class="input">
      <input id="text" class="text" type="text" name="todo">
    </div>
  </body>
  <script>
    let items = []
    const node = document.getElementById('text');
    node.addEventListener('keydown', function(event) {
      if (event.key === "Enter") {
        let item = document.getElementById("text").value
        document.getElementById("text").value = ''
        items.push(item)
        console.log(items)
        document.getElementById('item').appendChild(makeItem(item))
      }
    })
    function makeItem(item) {
      let node = document.createElement('li')
      let checkbox = document.createElement('input')
      checkbox.type = "checkbox"
      checkbox.name = "name"
      checkbox.value = "value"
      checkbox.id = "id"
      let label = document.createElement('label')
      label.htmlFor = "id"
      label.appendChild(document.createTextNode(item))
      node.appendChild(checkbox)
      node.appendChild(label)
      return node
    }
  </script>
</html>
