<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="menu">
      <h2>To-do!</h2>
      <ul class="nav nav-pills">
        <li><a href="/index">Home</a></li>
        <li class="active"><a href="/tasks">Todo List</a></li>
        <li><a href="/tasks">Completed</a></li>
      </ul>
    </div>
    <div id="item" class="input">
      <input id="text" class="text" type="text" name="todo">
    </div>
  </body>
  <script>
    let items = []
    const node = document.getElementById('text');
    node.addEventListener('keydown', function(event) {
      if (event.key === "Enter") {
        let item = document.getElementById("text").value
        items.push(item)
        console.log(items)
        document.getElementById('item').appendChild(makeItem(item))
      }
    })
    function makeItem(item) {
      let el = document.createElement('li')
      el.appendChild(document.createTextNode(item))
      return el
    }
  </script>
</html>
