html {
  background-color: rgba(255, 99, 71, 0.5);
}

a {
  color: black;
  text-align: center;
}

.input {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
}

.tasks {
  z-index: 1
}

button {
  display: inline-block;
  background-color: #f4511e;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.done {
  display: inline-block;
  text-decoration: line-through;
}

.tasks-done {
  list-style: none;
  font-family: "Times New Roman", Times, serif;
}

.tasks-done li:before {
  content: '✓';
}

.todo-tasks {
  list-style-type: none;
  font-family: "Times New Roman", Times, serif;
}
